/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
	--color-main: #141922;
	--color-sidebar: #000000;
	--color-toolbar: #282828;
	--color-playlist-square: #a3a3a3;
	--color-text-light: #ffffff;
}
body {
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
}
.debug {
    border: 1px solid red;
}
ul {
    list-style: none;
}
/* general rules */
.wrapper {
    height: 100vh;
    background-color: var(--color-main);
    /* overflow: hidden; */
}
.container {
    height: calc(100vh - 90px);
    width: 100%;
}
#header {
    height: 80px;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 200px;
    width: calc(100% - 200px);
}
#sidebar {
    width: 200px;
    background-color: var(--color-sidebar);
    padding: 20px 20px 5px 20px;
    align-content: space-between;
}
main {
    width: calc(100% - 200px);
    padding-top: 100px;
    overflow-y: auto;
}
#toolbar {
    height: 90px;
    background-color: var(--color-toolbar);
}
a {
    text-decoration: none;
}

/* sidebar content */
#sidebar .logo {
    width: 70%;
}
#home {
    width: 25px;
}
#search {
    width: 25px;
}
#library {
    width: 25px;
}
#sidebar span {
    font-size: 0.7em;
}
#sidebar h5 {
    text-transform: uppercase;
}
.square {
    background-color: var(--color-playlist-square);
    width: 35px;
    height: 35px;
    margin: 10px 0;
}
#download {
    width: 15px;
}
.circle {
    background-color: var(--color-playlist-square);
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
#profile {
    overflow: hidden;
}
#sidebar .square .plus {
  margin: 0 auto;  
}

/* main content */
nav ul li a {
    text-transform: uppercase;
}
#recently, #for-you, #popular {
    padding: 20px;
}
section h2 {
    color: var(--color-text-light);
}
.content {
    gap: 20px;
}
.card {
    width: calc(100% / 6);
}
.card-content img {
    width: 100%;
}
.card-text h3 {
    color: var(--color-text-light);
    text-align: center;
}
.card-text dd {
    color: var(--color-playlist-square);
    text-align: center;
}
dd {
    color: var(--color-playlist-square);
}
#popular .card-content {
    border-radius: 50%;
    overflow: hidden;
}
#toolbar {
    padding: 10px;
}
.left-container{
    width: calc(200px - 10px);
}
.left-content {
    width: 40px;
}
#toolbar .left-content img {
    width: 100%;
}
#toolbar dd {
    font-size: 0.7em;
}
.player-bar {
    width: 400px;
    height: 1px;
    border: 2px solid var(--color-playlist-square);
    border-radius: 40px;
}
.volume-bar {
    width: 130px;
    height: 1px;
    border: 2px solid var(--color-playlist-square);
    border-radius: 40px;
}
#toolbar .icon {
    font-size: 1.6em;
    padding-bottom: 20px;
}
.control-media {
    width: 40%;
}

/* utility */
.btn {
    border: 1px solid var(--color-text-light);
    padding: 10px 35px;
    border-radius: 20px;
}
#header a {
    color: var(--color-text-light);
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 700;
}
#header {
    justify-content: flex-end;
    align-items: center;
}
.b-bottom {
    border-bottom: 1px solid var(--color-playlist-square);
    margin: 10px 0;
}

/* text utility */
.text-light {
    color: var(--color-text-light);
}
.text-grey {
    color: var(--color-playlist-square);
}
.text-center {
    text-align: center;
}

/* flex utility */
.d-flex {
    display: flex;
}
.flex-column {
    flex-direction: column;
}
.align-center {
    align-items: center;
}
.s-between {
    justify-content: space-between;
}
.s-rounded {
    justify-content: space-around;
}
.justify-center {
    justify-content: center;
}
.flex-end {
    justify-self: flex-end;
}